langchain
langchain_core
langchain-openai
pydantic
fastapi
uvicorn
chromadb
dotenv
streamlit
langsmith
pandas
langchain-community
pypdf
docx2txt
unstructured
faiss-cpu
langchain-text-splitters
faiss-cpu 
tiktoken
rank_bm25